#about_us {
    margin-top: 100px;
    display: flex;
}

#about_us h2 {
font-weight: 900;
font-size: 64px;
margin-top: 0px;
margin-bottom: 100px;
}

.about_is_info p {
    font-size: 30px;
    margin-bottom: 30px;
    width: 571px;
}

.sqr {
    height: 275px;
    width: 275px;
    filter: drop-shadow(17px 12px 46px rgba(0, 0, 0, 0.17));
    border-radius: 40px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.sqr_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
}

.sqr_text p {
    font-size: 80px;
    font-weight: 600;
}
.sqr_text  span {
    font-weight: 400;
    font-size: 32px;
}


.about_is_info span {
    color: #2D8AC3;
    font-weight: 600;
}

.sqr_text {
    margin-top: 45px;
}

.sqr_blue {
    color: #ffffff;
    background-color: #2D8AC3;;
}

.sqr_text b {
    font-size: 64px;
}
@media (max-width: 768px) {
    #about_us {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .container {
        width: 768px;
        margin: 0 auto;
    }
    .about_is_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sqr_list {
        flex-direction: column;
        margin-top: 50px;
    }
    .sqr {
        margin-top: 25px;
    }
  }
