.services {
    background: linear-gradient(to right, #2D8AC3, #98328A); /* This is an example gradient from blue to light blue */
    margin-top: 100px;
    height: 1075px;
}

.services h2 {
    font-weight: 900;
    font-size: 64px;
    padding-top: 100px;
    margin-bottom: 100px;
    color: #ffffff;
    margin-bottom: 75px;
}

.card_list {
    display: flex;
    justify-content: space-between;
}

.card {
    height: 580px;
    width: 355px;
    
    background-color: #ffffff;
    transform: rotate(10deg);
    border-radius: 60px;

}
.inside_card {
    height: 480px;
    width: 350px;
    
    background-color: #ffffff;
    transform: rotate(-13deg);
    border-radius: 60px;
    
    border: 1px solid #000000; /* Граница толщиной 2 пикселя, черного цвета */
}
    .inside_card_blue {
    height: 480px;
    width: 350px;
    
    background-color: #2D8AC3;
    transform: rotate(-13deg);
    border-radius: 60px;
    color: #ffffff;
    }


.d {
    transform: rotate(-10deg);
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-top: 20px;
}
.d p{
    padding-right: 20px;
    font-size: 24px;
    font-weight: 600;
}
.tarif {
    transform: rotate(3deg);
    
}
.card_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.tarif_title {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 50px;
}
.sub_title {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 40px;
}
.text {
    padding-bottom: 25px;
}
img {
    margin-top: 10px;
}
.best {
    font-size: 24px;
    font-weight: 600;
}
@media (max-width: 768px) {
    #services .container {
        width: 768px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #services {
        height: 2300px;
    }
    .card {
        margin-top: 60px;
    }
  }